body {
  font-family: "Montserrat", sans-seri;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 7% 15%;
}
/* Headings */
.big-heading {
  font-weight: bolder;
  font-size: 4rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 1.2rem;
}

/* Download-button */
.Download-button {
  margin: 5% 3% 5% 0;
}
/* Title */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Features */
#features {
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: white;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin-right: 20px;
}

/* Press */
#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing */
#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}
/* Call to Action */
#cta {
  background-color: #ff4c68;

  color: white;
}

/* Footer */

.footer-icons {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
